/* body and headers */
body {
	background-color: #FFF;
	background: url("/media/adc3eb_bg.png");
	background-repeat: repeat-x;
	/* font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; */
	font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
	font-size: 100%;
	line-height: 1.5em;
}

p {
	padding: .5em 0 .5em 0;
}

#header h1 {
/*	background-image:url("/media/Readsr4-logo-noshadow.png");
	background-position: left-top;
	background-repeat: no-repeat;
	background-color: transparent;
	*/
	height: 2em;
	text-indent: -5000px;
	padding-left: 0em;
	margin-left: 0em;
	float: left;
}

#header_link {
	background-image:url("/media/Readsr4-logo-noshadow.png");
    display:block;
    height:53px;
    width:209px;
}

#header h2, #header h3 {
	position: relative;
	top: 46px;
	color: #626795;
	float: right;
	top: 36px;
}

#banner h3 {
	padding-bottom: .2em !important;
}

#header {
	height: 53px;
	padding: 10px 0px 10px;
}
h1, h2, h3 {
	/* font-family: Georgia, Times, "Times New Roman", serif; */
	font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif
	
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
}
h1.reading_name {
	/*display: inline;*/
	margin-bottom: 0px;
}

/* header */
div#header {
	width:900px;
	margin-left: auto;
	margin-right: auto;
}
/* navbar */

div#navbar {  
	clear: both;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 1.5em;
	font-size: 1.125em;
	
    background-color: #7094DB;  
    padding: 10px 0;  
	margin-bottom: 10px;
	padding-bottom: 10px;
	border: 2px solid #6083CA;
}

div#navbar ul {
	list-style: none;
	display: block;
	margin: 0 10px;
	
}

div#navbar ul li {
	float: left;
	/* margin: 0 1.5em; */
	list-style-type: none;
	margin-left: 0px;
	width: 20%;
}

#navbar a:link, #navbar a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#7094DB;
	text-align:center;
	/* padding:4px; */
	text-decoration:none;
	text-transform:uppercase;
	margin: 0em 1.2em;
	/*padding: 0em .5em;*/
}

#navbar a:hover, #navbar a:active
{
	background-color:#00297A;
}

div#navbar a.long_nav {
	width: 110%;
}


#navbar #logout {
	width: auto;
	padding: 0px 15px;
}
/* messages */
div#messages {
	margin-left: .5em;
	margin-right: .5em;
	margin-bottom: .5em;
	
	background-color: #555;
	color: #CCC;
}

p#content {
	margin-left: .5em;
	margin-right: .5em;
	margin-bottom: .5em;
	
}

/* page */

div#page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	
	/*background-color: #96B3ED;*/
	padding-bottom: 10px;
	margin-bottom: 10px;
	
}

/* content */
div#content {
	font-size: 1em;
	float: left;
	width: 68%;
}

#content h1, #content h2, #content h3, #content h4 {
	padding: 0px 2px;
}

/* banner at top of content */
div#banner {
	background: #DDD;
	margin: 0em .5em;
	/*padding: .2em;*/
	text-align: center;
	border: 2px solid #555;
}

div#choose_date {
	background-color: transparent;
	margin: 0em .5em;
	/*padding: .2em;*/
	text-align: center;
		padding: .2em;
}

div.inside_banner {
	padding: 1em;
}


/* sidebar */
div#sidebar {
	float: right;
	width: 30%;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #banner h2 {
	padding: 4px 4px;
}

#banner h1 {
	padding: .5em .5em;
}

#sidebar h2, #banner h1, #banner h2 {
	font-style: italic;
	text-align: center;
}

.sidebar_element {
	width: 100%;
	background: #DDD;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-right: .5em;
	border: 2px solid #555;
	
}

div.spacer { 
	clear: both; 
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
    background-color: #7094DB;  
    height: 1em;  
	border: 2px solid #7094DB;
}

div.spacerblank {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	
    height: 1em;  
	margin-bottom: 10px;	
}

/* footer */
div#footer {
	clear: both;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	background-color: #CCCCCC;
	border:  2px solid #BBBBBB;
}

#footer iframe {
	width: 140px !important;
}


/* other */
a:link, a:visited {
	color: #24488E;
	/*color:#774E00; */
	/* color: #ADC3ED; */
	text-decoration: none;
}
a:visited: {
	color:#BFA471;
}

a:hover {
	text-decoration: underline;
}

/* classes */

.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: #B77800;
    color: white;
    display: block;
    font-size: .75em;
    margin: 0 0 3px;
    padding: 4px 5px;
}

th {
	text-align: left;
}

}

ul.form, ul.errorlist, {
	width: 100%;
	overflow: hidden;
}

ul.form li, ul.errorlist li {
	float: left;
	width: 100%;
	clear: left;
	list-style-type: none;
	margin-left: 0px;
	
}

#reading_list {
	position: relative;
}

ul.reading_list {
	
}

li.reading_list {
	/*background: #ADC3ED;*/
	margin: .7em;
	padding: .3em;
}

.hl {
	background: #FFD4B3;
}

/* dl and its elements are used (for now) on the edit_series.html template */
dl {
	
}

dl dt {
	float: left;
	width: 30%;
	/* background: #ADC3ED; */
	clear: left;
	font-weight: bold;
	padding: 10px 10px;
}
dl dd {
	float: left;
	/* background: #96B3ED; */
	padding: 10px 10px;
}

.sidebar_element dl dt {
	padding: 2px 5px;
}

.sidebar_element dl dd {
	padding: 2px 5px;
}

dd ul {
	float: left;
}

#sidebar dl dd {
	float: left;
	width: 55%;
}

li {
	margin-left: 0px;
	list-style-type: none;
}
.clear {
	clear: both;
}

.external-icon {
	width:24 px;
	height: 24px;
	position: relative;
	top: 3px;
}

.edit-icon {
	position: relative;
	top: 1px;
	width:20px;
	height:20px;
}
.delete-icon{
	position: relative;
	top: 2px;
	width: 20px;
	height: 20px;
}
.add-icon{
	position: relative;
	top: 4px;
	width: 16px;
	height: 16px;
}

#sidebar .add-icon{
	position: relative;
	top: 1px;
	width: 16px;
	height: 16px;
}

ul.messages {
	list-style-type: none;
	padding: 5px 0px;
}

li.message {
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
}

/* set the look and feel of all input elements */
#page input, #page select, #page textarea, #page button {
	border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCCCCC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    color: #4C4C4C;
	font-size: 1em;
	font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
}

/*  formFieldWrapper wraps the elements on the generic edit pages */
.formWrapper > li, .formWrapper > label {
	float: left;
}

.formFieldWrapper {
	/*background: #ADC3ED;*/
}

.formFieldWrapper label {
	float: left;
	width: 30%;
	/* background: #ADC3ED; */
	clear: left;
	font-weight: bold;
	padding: 10px 10px;	
}

.formFieldWrapper input, .formFieldWrapper select, .formFieldWrapper textarea {
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.formWrapper {
	margin-bottom: 1em;
	
}

.submit-row {
	clear: both;
}

.tooltip {
	display:none;
	background:transparent url(/media/black_arrow.png);
	font-size:.75em;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

.reading_info {
	float: left;
	width: 45%;
}

.reading_description {
	clear: both;
	margin: .7em;
	padding: .3em;
	border: 2px solid #555 !important;
	background-color: #FFD4B3;
}

.reading_description textarea {
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
}

span.inlineEdit-placeholder {
	width: 99%;
	border: 0px !important; /* prevents it from showing up when mouseover gets to it instead of the surrounding div */
}

.style_reading_description {
	display: block;
	width: 54%;
	float:right;
	border: 1px solid;
	border-color: transparent;
	
	/*height: 4em;*/
}

.style_reading_description textarea {
	width: 98%;
	height: 80%;
}

.style_reading_description button {
	
}

li.reading_list {
	clear:both;
}

.list_controls {
	font-weight: bold;
}

a.list_controls {
	padding-left: .5em;
	padding-right: .5em;
}

#datepicker_start, #datepicker_end {
	margin-left: .5em;
}

.calendar_controls {
	font-weight: bold;
}

a.calendar_controls {
	padding: .5em 1em;
	font-weight: bold;	
}

.select_view_type {
	font-weight: bold;
}

.series_list li {
	padding: 0px 4px;
}

.series_list p {
	padding: 0px 4px;
}

span.ui-state-hover {
	background-color: transparent;
	background-image: none;
}

span.edit_reading_description textarea {
	width: 340px;
}

.map {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#content ul {
	padding: .5em 0 .5em 0;
}

.profile ul {
	
}

.blank_reading_description {
	font-style: italic;
}

.venue_name {
}

.edit_list {
	display: block;
}

.sites_list {
	margin-left: 1.5em;
}

.sites_list li {
	list-style-type: circle;
	padding: .2em;
}

#citysite_menu {
	margin: 0;
	padding: 0;
	display: inline;
}

#citysite_menu li {
	display: inline;
}

#citysite_menu .sub-menu {
	position: relative;
	right: -24px;
}

#citysite_menu li .sub-menu {
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 29px;
	z-index: 999;
	float: right;
}

#citysite_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	border: 1px solid black;
	width: 7em;
	position: absolute;
	left: 0;
	z-index: 500;
}

#citysite_menu ul li {
	background-color: #CCC;
	display: block;
	position: relative;
	right: -248px;
	padding: 2px 10px 2px 10px;
	width: 7em;
}

#citysite_menu ul li a {
	display: block;
	
}

#calendar {
	padding-top: 1em;
	padding-bottom: 1em;
}

#calendar table {
    width: 100%;
}

#calendar th {
	font-size: 16px;
	background-color: #00297A;
	text-align: center;
    color: #FFF;
    
}

#calendar .mon th,
#calendar .tue th,
#calendar .wed th,
#calendar .thu th,
#calendar .fri th,
#calendar .sat th,
#calendar .sun th
{
    text-align: center;
    font-size: 12px;
    background-color: #00297A;
    color: #FFF;
}

#calendar table tr th {
}

#calendar table tr td {
    width: 10%;
    border: 1px solid #555;
    vertical-align: top;
    height: 120px;
    padding: 2px;
}

#calendar td.noday {
    background-color: #eee;
}

#calendar td.filled {
    background-color: #ADC3DB;
}

#calendar td.today {
    border: 4px solid #316497;
}

#calendar .dayNumber {
	float: right;
    font-size: 16px !important;
}

#calendar .dayNumberNoReadings {
	float: right;
}

#calendar a {
    font-size: 10px;
}

#load_image {
	display:none;
	width:48px;
	height:48px;
	top: 36px;
	left: 286px;
	/*text-indent:-3000px;*/
	background-position:0 0;
	background-repeat:no-repeat;
	z-index:2000;
	overflow:hidden;
	position:absolute;
}


.inlineEdit-placeholder {
	border: 1px solid;
	border-color: transparent;
	
}

#choose_date form {
	display: inline;
}

form.city_chooser {
	display: inline;
}

