mysql-python
mercurial
Django==1.2.5
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
