{% extends "base.html" %}
{% block content %}
	<h1>Change your password</h1>
	<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
	
	<form action="" method="post">
	{% csrf_token %}
	<fieldset>

	<div class="formFieldWrapper">

	    <label for="id_old_password" class="required">Old password:</label><input type="password" name="old_password" id="id_old_password" />
	</div>

	<div class="formFieldWrapper">


	    <label for="id_new_password1" class="required">New password:</label><input type="password" name="new_password1" id="id_new_password1" />
	</div>

	<div class="formFieldWrapper">

	    <label for="id_new_password2" class="required">Password (again):</label><input type="password" name="new_password2" id="id_new_password2" />
	</div>

	</fieldset>

	<div class="submit-row">
	    <input type="submit" value="Change my password" class="default" />

	</div>
	</form>
{% endblock content %}

{% block script %}
	{{ super.script}}
	<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
	
{% endblock script %}