{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    {{ event_form.media.css }}
    {{ recurrence_form.media.css }}
{% endblock styles %}

{% block title %}
    {{ block.super }} - {{ event.title|default:"Add new series" }}
{% endblock title %}

{% block content %}

    {% block name %}
    <div id="banner">
    <h1>Tell us all about
    {{ event.title|default:"your reading series" }}.
    </h1>
    </div>
    {% endblock name %}

    <p>
    {% if event.title %}
    Please enter the most current info for {{ event.title }}, and we'll update the series and tweet the changes (from our @readsr account) so everyone knows about them. Thanks for helping us keep up to date! 
    {% else %}
    Thanks for adding a new series! Once you're done, we'll send out a tweet (from our @readsr account) so everyone knows about it.
    {% endif %}
    </p>
    {% if event_form.errors  %}
    <p>Please correct the event error{{ event_form.errors|pluralize }} below.</p>
    {% endif %}
    
    {% if recurrence_form.errors %}
    <p>Please correct the recurrence error{{ recurrence_form.errors|pluralize }} below.</p>

        <ul>
        {% for field in recurrence_form %}
        {% for err in field.errors %}
        <li>{{ field.name }}: {{ err }}</li>
        {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    <p>
    {{ event_form.non_field_errors }}
    </p>
    <p>
    {{ recurrence_form.non_field_errors }}
    </p>

    <form action="" method="post">
        {% csrf_token %}

        <dl class="edit_list">
            <dt><label for="id_title">{% if event.title %}Is this still the right name?{% else %}What's the name?{% endif %}</label></dt>
            <dd>
                {{ event_form.title }}
                {% if event_form.title.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.title.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
                
            </dd>
            <dt><label for="id_description">How would you briefly describe this series?</label></dt>
            <dd>
                {{ event_form.description }} 
                {% if event_form.description.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.description.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
			<dt><label for="id_tags">Now enter some tags associated with the series.</dt>
			<dd>
				{{ event_form.tags }}
				{% if event_form.tags.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.tags.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
			</dd>
            <dt><label for="id_genre">What genres are typically represented? (Hold shift to select more than one.)</label></dt>
            <dd>
                {{ event_form.genre }} 
                {% if event_form.genre.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.genre.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt><label for="id_venue">Where does it happen?</label></dt>
            <dd>
                {{ event_form.venue }} <a href="{% url create-venue %}?next={{ request.path }}"><img src="{{ MEDIA_URL }}add.png" alt="Add new venue" title="Add a new venue" class="add-icon"></a>
                {% if event_form.venue.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.venue.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt><label for="id_website">Does it have a website?</label></dt>
            <dd>
                {{ event_form.website }} 
                {% if event_form.website.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.website.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt><label for="id_regular">Does it occur regularly?</label></dt>
            <dd>
                {{ event_form.regular }}
                {% if event_form.regular.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.regular.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt class="irregular"><label for="id_irregular_date_description">How would you describe when it occurs?</label></dt>
            <dd class="irregular">
                {{ event_form.irregular_date_description }}
                {% if event_form.irregular_date_description.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.irregular_date_description.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt><label for="id_admission">Is there any kind of admission charge?</label></dt>
            <dd>
                {{ event_form.admission }}
                {% if event_form.admission.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.admission.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt class="admission_description"><label for="id_admission_description">What's the admission?</label></dt>
            <dd class="admission_description">
                {{ event_form.admission_description }}
                {% if event_form.admission_description.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.admission_description.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt><label for="id_affiliations">Is it affiliated with any organizations?</label></dt>
            <dd>
                {{ event_form.affiliations }} <a href="{% url create-affiliate %}"><img src="{{ MEDIA_URL }}add.png" title="Add a new affiliate" alt="Add new affiliate" class="add-icon" style="padding-left: 5px"></a>
                {% if event_form.affiliations.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.affiliations.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
            <dt><label for="id_wiki_mode">Start in <a href="#" id="wiki_mode_description" title="Wiki mode lets anyone update the reading description&mdash;for example, adding the names of readers. If the series isn't in Wiki mode, only the contact (that's you!) can update it. You can always come back and change the setting later.">Wiki mode</a>?</label></dt>
            <dd>
                {{ event_form.wiki_mode }}
                {% if event_form.wiki_mode.errors %}
                    <ol class="errorlist">
                    {% for error in event_form.affiliations.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </dd>
        </dl>
        <p class="clear">
            
        <h4>Schedule</h4>
        <table class="recurring_form">
            <tbody>
            {% include "recurring_form_part.html" %}
            </tbody>
        </table>
        <p class="clear">
        You'll be listed as the point of contact for this event. Your email address will be listed, but in a form that prevents spammers from harvesting it. If that's not cool, hit cancel and we won't create this event.
        </p>
        <div class="submit-row"><input type="submit" value="Add events" class="button" name="_add" /><input type="button" id="cancel_button" value="Cancel" class="button" /></div>
    </form>

{% endblock content %}

{% block script %}
    {{ block.super }}
        
    <script type="text/javascript">
    $(document).ready(function() {
        
        // Display the controls for describing when the event occurs (regular or irregular occurrences)
        {% if event.regular %}
        $(".irregular").hide();
        {% else %}
        $(".regular").hide();
        {% endif %}

        // Create the tooltip to explain what Wiki mode is
        $("#wiki_mode_description").qtip({
            style: {
                classes: "ui-tooltip-dark ui-tooltip-shadow ui-tooltip-rounded"
            }
        });

        /* Bind changing the regular and admission checkboxes to toggle
        sliding textboxes for the user to explain the series's irregular date
        or admission policies. */
        var rprops = /^(checked|selectedIndex)$/;
        
        var field = $("#id_regular");
        eventType = (field.type == 'checkbox')
        && ("onpropertychange" in document.body) ? 'propertychange' : 'change';

        field.bind(eventType, function(e) {
            if (e.type == "change" || e.type == "propertychange"
            && rprops.test(window.event.propertyName)) {
                $(".irregular").slideToggle();
                $(".regular").slideToggle();
            }
        });
    
        field = $("#id_admission");
        eventType = (field.type == 'checkbox')
        && ("onpropertychange" in document.body) ? 'propertychange' : 'change';

        field.bind(eventType, function(e) {
            if (e.type == "change" || e.type == "propertychange"
            && rprops.test(window.event.propertyName)) {
                $(".admission_description").slideToggle();
            }
        });
    
        $(".admission_description").hide();

    });
    
    // Set initial focus
    document.getElementById("id_title").focus();
    
    // Cancel sends us back to the home page for the city_site
    $("#cancel_button").click(function(e) {
        e.preventDefault();
        window.location.href = "http://{{ city_site }}" // TODO put something more useful here
    });
    </script>
    
    {{ form.media.js }}
    
    <script type="text/javascript">
    /*$("#id_time").timePicker({
      show24Hours: false,
      });*/
    </script>

{% endblock script %}