{% extends "base.html" %}

{% block title %}Readsr - {{ city_site.city_and_state }}{% endblock title %}

{% block content %}


<div id="banner">
	<h2>Upcoming readings in {{ city_site.city}}, {{ city_site.state }}</h2>

<div id="choose_date">
	<span class="datepicker_nb"><input id="datepicker_start" type="text">
		to 
	<input id="datepicker_end" type="text"></span>
	
	<span class="datepicker"><a href="#" id="next_week">Next Week</a></span>
	<span class="datepicker"><a href="#" id="next_month">Next Month</a></span>

	<!-- Need to write code to change the type of display via Ajax -->
	{% if list_view %}
		<span class=""><a href="#" id="calendar_view">Calendar</a></span>
	{% else %}
		<span class=""><a href="#" id="list_view">List</a></span>
	{% endif %}
</div>
</div>

list_view is {{ list_view }}
	<div id="reading_list">
		{% if list_view %}
			{% include "list_readings.html" %}
		{% else %}
			{% include "calendar_snippet.html" %}
		{% endif %}

	</div>



{% endblock content %}

{% block script %}
{{ super.script }}

{% include "datepickerscript.js" %}

{% endblock script %}