{% extends "base.html" %}

{% block title %}Readsr - {{ city_site.city_and_state }}{% endblock title %}

{% block content %}


<div id="banner">
	<h2>Upcoming readings in {{ city_site.city}}, {{ city_site.state }}</h2>

<div id="choose_date">
	<!-- first set the controls for the list view -->
	<span class="datepicker_nb list_controls"><input id="datepicker_start" type="text">
		to 
	<input id="datepicker_end" type="text"></span>
	
	<span class="list_controls"><a href="#" id="next_week">Next Week</a></span>
	<span class="list_controls"><a href="#" id="next_month">Next Month</a></span>

	<!-- then set the controls for the calendar view -->
	<span class="calendar_controls"><a href="#" id="previous_year">Previous Year</a></span>
	<span class="calendar_controls"><a href="#" id="previous_month">Previous Month</a></span>
	<span class="calendar_controls"><a href="#" id="next_month">Next Month</a></span>
	<span class="calendar_controls"><a href="#" id="next_year">Next Year</a></span>

	<span class="select_view_type list_controls"><a href="#" id="calendar_view">Calendar</a></span>
	<span class="select_view_type calendar_controls"><a href="#" id="list_view">List</a></span>
</div>
</div>

	<div id="reading_list">
		<img id="load_image" src="media/spinner-large.gif">
		{% if list_view %}
			{% include "list_readings.html" %}
		{% else %}
			{% include "calendar_snippet.html" %}
		{% endif %}

	</div>

{% endblock content %}

{% block script %}
{{ super.script }}

{% include "datepickerscript.js" %}

{% endblock script %}