{% load humanize %}
{% load disqus_tags %}

{% if reading_list %}

    <ul class="reading_list">
		{% for reading in reading_list %}
		<li class="reading_list {% cycle 'hl' '' %}">
			
			{% if index %}  <!-- if index ************************** -->
			<div class="reading_info">
			<h1><a href="{% url detail-series reading.series.id %}">{{ reading.series.title.title }}</a>
			</h1>

			<h3>
				{% for genre in reading.series.genre.all %}
				{{ genre.get_genre_display }}{% if not forloop.last %},{% endif %}
				{% endfor %}
			</h3>			
			<h3>
				<a href="{% url detail-venue reading.series.venue.id %}">{{ reading.series.venue }}</a>
			</h3>
			<h3>
				{% if reading.series.regular %}
				<a href="{% url detail-reading reading.id %}">{{ reading.date|naturalday|capfirst }}, {{ reading.time }}</a>
				{% else %}
				Irregular
				{% endif %}
			</h3>
			</div>
			<div class="edit_reading_description style_reading_description" id="{{ reading.id }}">
				{% if reading.description %}
				{{ reading.description }}
				{% endif %}
			</div>
			<div class="num_comments">
				<a href="{{ reading.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ reading.id }}">View Comments</a>
				{% disqus_num_replies %}
			</div>
			<div class="clear"></div>
			
			{% else %} <!-- if not index ******************************** -->

			<div class="reading_info">
			<h3>
				{% if reading.series.regular %}
				<a href="{% url detail-reading reading.id %}">{{ reading.date|naturalday|capfirst }}, {{ reading.time }}</a>
				{% else %}
				Irregular
				{% endif %}
			</h3>			
			<h3>
				<a href="{% url detail-venue reading.series.venue.id %}">{{ reading.series.venue }}</a>
			</h3>			
			<h3>
				{% for genre in reading.series.genre.all %}
				{{ genre.get_genre_display }}{% if not forloop.last %},{% endif %}
				{% endfor %}
			</h3>	
			</div>	
			<div class="edit_reading_description style_reading_description" id="{{ reading.id }}">
				{% if reading.description %}
				{{ reading.description }}
				{% endif %}
			</div>
			<div class="num_comments">
				<a href="{{ reading.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ reading.id }}">View Comments</a>
				{% disqus_num_replies %}
			</div>
			
			<div class="clear"></div>
			{% endif %}
				
		</li>

	{% endfor %}
	</ul>
	
{% else %}
<div id="reading_list">
	<ul>
		<li class="reading_list">
			<h1>No upcoming readings.</h1> {% if index %}<h3><a href="{% url create-series %}">Add a reading series!</a></h3>{% endif %}
		</li>
	</ul>
</div>

{% endif %}


{% block script %}
{{ block.super }}

{% if user.is_authenticated %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.inlineedit.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
		bind_editable_descriptions("{% url edit-reading-ajax %}");
    } 
);
</script>
{% endif %}

{% endblock script %}