{% extends "base.html" %}

{% block title %}
{{ block.super }} - {{ reading.series.primary_name }} - {{ reading.date_and_time }}
{% endblock title %}

{% block content %}

{% block name %}
<div id="banner">
<h1 class="reading_name">{{ reading.series.primary_name }}</h1>
<h3>{{ reading.date_and_time }}</h3>

</div>
{% endblock %}

<div id="{{ reading.id }}" class="edit_reading_description reading_description">
{{ reading.description|linebreaks }}
</div>
{% endblock content %}

{% block script %}
{{ block.super }}

{% if user.is_authenticated %}
<script type="text/javascript" src="/media/js/jquery.inlineedit.js"></script>
<script type="text/javascript" src="/media/js/editable_reading_descriptions.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
		bind_editable_descriptions("{% url edit-reading-ajax %}");
    } 
);
</script>
{% endif %}

{% endblock script %}