{% extends "base.html" %}

{% block title %}
{{ block.super }} - {{ series.title }}
{% endblock title %}

{% block headscript %}
{{ block.super }}
<script type="text/javascript">
var start_date = "{{ start_date }}";
var end_date = "{{ end_date }}";
</script>
{% endblock %}

{% block content %}

{% block name %}
	<div id="banner">
		<h1 class="reading_name">{{ series.title }}{% if series.website %}
		<a href="{{ series.website }}" class="external"><img src="{{ MEDIA_URL }}external-link.png" class="external-icon" ></a>
		{% endif %}{% if user.is_authenticated %}
		<a href="edit/"><img src="{{ MEDIA_URL }}edit.png" alt="Edit" class="edit-icon"></a>
		<a href="remove/"><img src="{{ MEDIA_URL }}delete.png" alt="Request removal" class="delete-icon"></a>
		{% endif %}</h1>

	</div> <!-- banner -->

	<div class="series_info">		
	<dl class="series_info">
		<dt class="series_info first">Contact</dt>
		<dd class="series_info"><a href="{% url detail-contact series.contact_id %}">{{ series.contact.first_name }} {{ series.contact.last_name }}</a></dd>
		<dt class="series_info">About</dt>
		<dd class="series_info">{{ series.description }}</dd>
		<dt class="series_info">Genre{{ series.genre.all|pluralize }}</dt>
		<dd class="series_info">
		{% for genre in series.genre.all %}
			{{ genre.get_genre_display }}{% if not forloop.last %},{% endif %} 
		{% endfor %}
		</dd>
		<dt class="series_info">Venue</dt>
		<dd class="series_info">
			<ul>
			<li><a href="{% url detail-venue series.venue.id %}">{{ series.venue }}</a>
			{% if series.venue.secondary_name %}
			, {{ series.venue.secondary_name }}
			{% endif %}
			</li>
			<li>{{ series.venue.address.street_address }}</li>
			<li>{{ series.venue.address.city_address }} </li>
			</ul>
		</dd>
		<dt class="series_info">When</dt>
		{% if series.regular %}
			<dd class="series_info">{{ series.recurrence_rule|capfirst }}</dd>
		{% else %}
			<dd>{{ series.irregular_date_description }}</dd>
		{% endif %}
		{% if series.affiliation.all %}
		<dt class="series_info">Affiliation</dt>
		<dd class="series_info">
		{% for affiliate in series.affiliation.all %}
			{% if affiliate.website %}
			<a href="{{ affiliate.website.url }}">
			{% endif %}
			{{ affiliate.name }}
			{% if affiliate.website %}
			</a>
			{% endif %}
			{% if not forloop.last %},{% endif %}

		{% endfor %}
		</dd>
		{% endif %}
		<dt class="series_info">Admission</dt>
		<dd class="series_info">{{ series.admission_description|default:"Free" }}</dd>
		
		<dt class="series_info">Website</dt>
		<dd class="series_info">{{ series.website|urlizetrunc:22|default:"None available" }}</dd>

		{% if series.notes.all %}
		{% for note in series.notes.all %}
		<dt class="series_info">Notes</dt>
		<dd class="series_info">{{ note|default:"None" }}</dd>
		{% endfor %}
		{% endif %}

	</dl>
	
	<div class="map">
		<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://local.google.com/maps?q={{ series.venue.address.street_address}}+{{ series.venue.address.city_address}}&amp;f=q&amp;hl=en&amp;ie=UTF8&amp;hq={{ series.venue.address.street_address}}+{{ series.venue.address.city_address}}&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><a href="http://local.google.com/maps?q={{ series.venue.address.street_address}}+{{ series.venue.address.city_address}}&amp;f=q&amp;hl=en&amp;ie=UTF8&amp;hq={{ series.venue.address.street_address}}+{{ series.venue.address.city_address}}&amp;z=13&amp;iwloc=A&amp;source=embed">View Larger Map</a>
		</div>
	</div>	
	
	{% include "choose_date_snippet.html" %}

	{% endblock name %}
	

	<div id="reading_list">
		<img id="load_image" alt="Loading." src="{{ MEDIA_URL }}spinner-large.gif">
		{% if list_view %}
			{% include "list_readings.html" %}
		{% else %}
			{% include "calendar_snippet.html" %}
		{% endif %}
	</div>
	
{% endblock content %}

{% block sidebar %}


{{ block.super }}

{% endblock sidebar %}

{% block script %}
{{ block.super }}

<script type="text/javascript">
// set the initial viewing controls
{% if list_view %}
	$(".calendar_controls").hide();
{% else %}
	$(".list_controls").hide();
{% endif %}
</script>

{% endblock script %}