{% extends "generic_list.html" %}

{% block content %}

{% block name %}
	<div id="banner">
	<h1 class="reading_name">{{ series.primary_name }}{% if series.website %}
	<a href="{{ series.website }}" class="external"><img src="/media/external-link.png" class="external-icon" ></a>
	{% endif %}{% if user.is_authenticated %}
	<a href="edit/"><img src="/media/edit.png" alt="Edit" class="edit-icon"></a>
	<a href="remove/"><img src="/media/delete.png" alt="Request removal" class="delete-icon"></a>
	{% endif %}</h1>

	{% if series.secondary_name %}
	<h2 class="reading_name">{{ series.secondary_name }}</h2>
	{% endif %}
	
	<div id="choose_date">
		<span class="datepicker_nb"><input id="datepicker_start" type="text">
			to 
		<input id="datepicker_end" type="text"></span>

		<span class="datepicker"><a href="#" id="next_week">Next Week</a></span>
		<span class="datepicker"><a href="#" id="next_month">Next Month</a></span>

	</div>
	
	</div>
{% endblock name %}

{% include "list_readings.html" %}

{% endblock content %}

{% block sidebar %}
<div class="sidebar_element">
<h2>About This Series</h2>
<dl>
	<dt>Contact</dt>
	<dd><a href="{% url detail-contact series.contact_id %}">{{ series.contact.first_name }} {{ series.contact.last_name }}</a></dd>
	<dt>Genre{% if series.genre.all|length > 1 %}s{% endif %}</dt>
	<dd>
	{% for genre in series.genre.all %}
		{{ genre.get_genre_display }}{% if not forloop.last %},{% endif %} 
	{% endfor %}
	</dd>
	<dt>Venue</dt>
	<dd>
		<ul>
		<li><a href="{% url detail-venue series.venue.id %}">{{ series.venue }}</a>
		{% if series.venue.secondary_name %}
		, {{ series.venue.secondary_name }}
		{% endif %}
		</li>
		<li>{{ series.venue.address.street_address }}</li>
		<li>{{ series.venue.address.city_address }} <a href="http://maps.google.com/?q=loc%3A+{{ series.venue.address.street_address }}+{{ series.venue.address.city_address }}+US">(map)</a></li>
		</ul>
	</dd>
	<dt>When</dt>
	{% if series.regular %}
		<dd>{{ series.week_within_month.get_week_within_month_display }} {{ series.day_of_week.get_day_display }}s
		<br /> 
		{{ series.time }}</dd>
	{% else %}
		<dd>{{ series.irregular_date_description }}</dd>
	{% endif %}
	{% if series.affiliation.all %}
	<dt>Affiliation</dt>
	<dd>
	{% for affiliate in series.affiliation.all %}
		{% if affiliate.website %}
		<a href="{{ affiliate.website.url }}">
		{% endif %}
		{{ affiliate.name }}
		{% if affiliate.website %}
		</a>
		{% endif %}
		{% if not forloop.last %},{% endif %}
		
	{% endfor %}
	</dd>
	{% endif %}
	<dt>Admission</dt>
	<dd>{{ series.admission_description|default:"Free" }}</dd>
	{% if series.website %}
	<dt>Website</dt>
	<dd><a href="{{ series.website }}">{{ series.website }}</a></dd>
	{% endif %}

	{% if series.notes %}
	<dt>Notes</dt>
	<dd>{{ series.notes|default:"None" }}</dd>
	{% endif %}
	<div class="clear"></div>
	
</dl>
</div>

{{ block.super }}

{% endblock sidebar %}

{% block script %}
{{ super.script }}

<script type="text/javascript">
// set the initial viewing controls
{% if list_view %}
	$(".calendar_controls").hide();
{% else %}
	$(".list_controls").hide();
{% endif %}
</script>

<script type="text/javascript" src="media/js/datepickerscript.js"></script>
{% endblock script %}