{% extends "base.html" %}
		
{% block header %}
<h1><a href="{% url index %}" id="header_link">{{ city_site.name }}</a></h1>
<h3>Literary reading series in your city.</h3>
{% endblock header %}
		
	
{% block navbar %}
<ul>
</ul>
      {% endblock navbar %}

      {% block content %}
	<h2>Welcome to Readsr.<h2/>
		<p>We track literary reading series in various cities. You can see who's reading, what kinds of stuff they're reading (poetry, fiction, nonfiction), where, and when.</p>
			</p>How do we stay up to date? With the help of users like you. You can add a new reading series, or update a current one with information about who's reading. You can also follow us on twitter (@readsr) to get real-time updates. And you can <a href="{% url about %}">contact us</a> with suggestions or questions. </p>
		<h3>Right now, we're tracking readings in these cities.</h3>
	<ul class="sites_list">
	{% for site in sites_list %}
	<li><h2><a href="http://{{ site.domain }}">{{ site.name }}</a></h2></li>
	{% empty %}
	No cities yet!
	{% endfor %}
	</ul>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}


