{% extends "base.html" %}
		
{% block header %}
<h1><a href="{% url index %}" id="header_link">{{ city_site.name }}</a></h1>
<h3>Literary reading series in your city.</h3>
{% endblock header %}
		
	
{% block navbar %}
<ul>
</ul>
      {% endblock navbar %}

      {% block content %}
	<h2>We're tracking readings in these cities.</h2>
	<ul class="sites_list">
	{% for site in sites_list %}
	<li><h2><a href="http://{{ site.domain }}">{{ site.name }}</a></h2></li>
	{% empty %}
	No cities yet!
	{% endfor %}
	</ul>
{% endblock content %}
	


